<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.8/angular.min.js"
            th:src="@{/webjars/angularjs/1.4.8/angular.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.8/angular-animate.min.js"
            th:src="@{/webjars/angularjs/1.4.8/angular-animate.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap.min.js"
            th:src="@{/webjars/angular-ui-bootstrap/1.0.3/ui-bootstrap.min.js}"></script>

</head>
<body ng-app="app">
<script type="text/javascript" src="/js/app.js"
        th:src="@{/js/app.js}"></script>
<div class="container">
    <h1>우리집 가계부</h1>

    <div style="height: 20px;"></div>

    <div th:replace="common/header :: #topNavController">
    </div>

    <div style="height: 60px;"></div>

    <div layout:fragment="content">
        FakeContent
    </div>

</div>
</body>
</html>